@import url("../../_variables.css");

.todo-list {
	display: flex;
	flex-wrap: wrap;

	width: 80vw;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;

	border: 2px solid var(--border);
	border-radius: 4px;
	gap: 15px;
}