@import url("../../_variables.css");

.filter {
	display: flex;
	justify-content: center;

	width: 40vw;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;

	border: 1px solid var(--base-gray);
	border-radius: 5px;

	gap: 10px;
}

.filter_content {
	display: flex;
	flex-direction: column;
}

.filter_conten-buttons {
	display: flex;

	margin-top: 10px;
	gap: 10px;
}

.active {
	background: var(--active);
}


.filter-btn {
	display: flex;
	align-items: center;
	align-self: center;
	justify-content: center;

	padding: 0 4px 4px;

	cursor: pointer;
	transition: .3s;

	border: 1px solid var(--border);
	border-radius: 5px;
}

.filter-btn:hover {
	background: var(--input-bg);
}

.filter-btn:active {
	color: var(--base-white);
	background: var(--add-btn-active-bg);
}


@media (max-width: 550px) {
	.filter_conten-buttons {
		flex-direction: column;
	}
}