@import url("../../_variables");

.todo {
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: center;

	max-width: 300px;
	height: auto;

	margin-right: auto;
	margin-left: auto;
	padding: 5px 25px;

	transition: .2s;

	border-radius: 5px;

	background: var(--todo-bg-color);
}

.todo h5 {
	margin-top: 0;
	margin-bottom: 5px;
	padding: 0 35px;
}

.todo label,
input {
	margin-top: 5px;

	cursor: pointer;
}

.todo input {
	position: relative;
	top: 2px;

	margin-left: 15px;
}

.todo:hover {
	box-shadow: 2px 2px 3px var(--base-gray);
}

.isComplete {
	text-decoration: line-through;

	color: var(--base-white);
	background: var(--base-gray);
}