@import url("../../_variables.css");

.fon_modal {
	position: fixed;

	z-index: 2;

	width: 100%;
	height: 100%;

	background: var(--modal-fon);
	backdrop-filter: blur(1.5px);
}

.modal {
	position: fixed;
	top: 45%;
	left: 50%;

	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	min-width: 250px;
	min-height: 100px;
	padding: 15px;

	transform: translate(-50%, -50%);

	border: 1px solid var(--base-gray);

	border-radius: var(--radius-block);
	background: var(--modal-bg);

}

.hide {
	visibility: hidden;
}

.overflowHide {
	overflow: hidden;
}

@media (width >= 1200px) {
	.modal {
		width: 500px;

		font-size: 20px;
	}
}

@media (width <= 1200px) {
	.modal {
		width: 400px;

		font-size: 18px;
	}
}

@media (width <= 1000px) {
	.modal {
		width: 350px;

		font-size: 16px;
	}
}

@media (width <= 768px) {
	.modal {
		width: 280px;

		font-size: 14px;
	}
}

@media (width <= 480px) {
	.modal {
		width: 250px;

		font-size: 12px;
	}
}

@media (width <= 350px) {
	.modal {
		width: 200px;

		font-size: 10px;
	}
}