@import url("../../_variables.css");

.newTodo {
	display: flex;
	flex-direction: column;
	width: 20vw;
	margin: auto;
	margin-top: 10px;
	padding: 10px;
	gap: 5px;

	border: 1px solid var(--base-gray);
	border-radius: var(--radius-block);
}

.newTodo:last-child {
	max-width: 100px;
	margin-right: auto;
	margin-left: auto;
}

input {
	transition: .3s;

	border-radius: 5px;
}

input::placeholder {
	text-align: center;

	color: var(--base-gray);
}

.newTodo input:last-child:hover {
	cursor: pointer;

	background: var(--input-bg);
}

.newTodo input:last-child:active {
	cursor: pointer;

	color: var(--add-btn-active-text);
	background: var(--add-btn-active-bg);
}