:root {
	--base-gray: gray;
	--base-white: white;
	--base-black: black;
	--base-bg-color: #D3DDE1;
	--todo-bg-color: #56725526;
	--border: #797979;
	--add-btn-hover-bg: #E9E9E9;
	--add-btn-active-bg: #73A18F;
	--add-btn-active-text: white;
	--input-bg: #E9E8E8;
	--active: rgb(78 187 255);
	--modal-fon: rgb(255 255 255 / 20%);
	--modal-bg: rgb(236 236 236);
	--radius-block: 10px;
	--radius-btn: 5px
}